<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual WIM</title>
    <!-- CSS only -->
    <link href="{{ url_for('static', filename='bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <form class="d-flex">
            <button class="btn btn-outline-primary" type="submit">Realtime</button>
            <button class="btn btn-outline-success" type="submit">Report</button>
          </form>
        </div>
      </nav>

    <!-- JavaScript Bundle with Popper -->
<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>
</body>
</html>
